**/*.spec.log
*.swp
Capfile
config/deploy.rb
config/database.yml
db/*.sqlite3
log/*.log
public/assets/*
public/cache/*
public/images/themes/*
public/javascripts/cache/*
public/stylesheets/cache/*
themes/site-*
tmp
tmp/**/*
vendor/rails